<%- include('partials/header.ejs'); %>

    <div class="center">
        <div class="glass-card">
            <h2>
                <%= city %>
            </h2>
            <img src="<%= imgurl %> " alt="">
            <h2>
                <%= temperature %> ℃
            </h2>
            <h2>
                <%= description %>
            </h2>
        </div>
    </div>

    <%- include('partials/footer.ejs'); %>